body{
  background-color:rgb(130,180,160);
  background-position: 100% 100%;
  margin:auto;

}
h1{
  font-family:arial;
  padding:5pt;
  color:dimgray;
  text-align:center;
}
canvas{
  width:500px;
  heigh:400px;
  padding:5pt;
  margin:10px;
  border:10px solid darkgreen; 
  background-color:lightgreen;
  border-radius:20px;
  background: rgba(0,100,150, 0.8);
  opacity: 0.9;
  filter: alpha(opacity=90);
}
div{
  background-color:ivory;
  width:600px;
  border:5px solid darkgreen;
 margin:auto;
  border-radius:10%;
  text-align:center;
}
#div2{
  border-radius:20%;
  background-color:rgb(200,220,150);
  height:50px;
  border:2px solid lightgreen;
  text-align:center;
  
}
p{
  margin:10px;
}
#clr{
  margin:10px;
  border-radius:20%;
  color: blue;
  background-color:;
  border:6px solid darkgreen;
  text-align:center;
}
#remove{
  margin:px;
  border-radius:10%;
  color: darkgreen;
  background-color:ivory;
  border:6px solid darkblue;
}
#size{
  margin:10px;
  border-radius:10%;
  color: blue;
  background-color:ivory;
  border:6px solid darkred;
}
#makered{
margin:10px;
color: red;
background-color:pink;
border-radius:60%;
border:5px solid red; 
padding:10px;
}
#play{
margin:10px;
color: darkgray;
background-color:pink;
border-radius:60%;
border:5px solid ivory; 
padding:10px;
}
#fltr{
margin:px;
color: darkgray;
background-color:gray;
border-radius:0%;
border:5px solid pink; 
padding:10px;
}
#makeGray{
color:black;
background-color:lightgray;
margin:25px;
border-radius:20px;
border:5px solid gray;
padding:10px;

}

#rainbow{
margin:10px;
color: orange;
background-color:yellow;
border-radius:px;
border:5px solid violet; 
padding:10px;
  
}
#note{
  color:darkgray;
}
}